.cityBox{
  min-height: 100vh;
  background: url(../../assets/bg.png) no-repeat;
  background-size: 100vw auto;
  .returnBtn{
    img{
      width: 4.62vw;
      margin-top: 3.28vh;
      margin-left: 5.83vw;
    }
  }
  .cityTitle{
    margin-top: 1.04vh;
    margin-left: 12.77vw;
    img{
      height: 6.51vh;
    }
  }
  .itemBox{
    div{
      text-align: center;
      margin-top: 9.25vh;
      img{
        width: 74.25vw;
        margin-bottom: 3.43vh;
      }
    }
    .bjBox{
      margin-top: 2.23vh;
    }
  }
}
