.topBox{
  padding-top: 3.28vh;
  .leftLogo{
    padding-left: 6.8vw;
    img{
      height: 3.6vh;
    }
  }
  .rightLogo{
    text-align: right;
    padding-right: 5vw;
    img{
      height: 2.86vh;
    }
  }
}
