.topBox{
  padding-top: 3.28vh;
  .leftLogo{
    padding-left: 6.8vw;
    img{
      width: 28.51vw;
    }
  }
  .rightLogo{
    text-align: right;
    padding-right: 5vw;
    img{
      width: 29.07vw;
    }
  }
}
