.homeBox{
  .indexBox{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #2f6bb4;
    .mainImg{
      width: 100%;
      height: 85.7vh;
      background: url('../../assets/mainbg.png') no-repeat right top;
      background-size: 100% 100%;
      .main{
        text-align: center;
        width: 100%;
        padding-top: 9.42vh;
        img{
          max-height: 54.4vh;
          max-width: 93.14vw;
        }
      }
      .btnimg{
        .leftLogo{
          position: relative;
          padding-left: 0.462vw;
          img{
            position: absolute;
            top: -5.1vh;
            max-height: 6.35vh;
            max-width: 57.03vw;
          }
        }
        .rightLogo{
          text-align: right;
          img{
            max-height: 18.12vh;
            max-width: 31.8vw;
          }
        }
      }
    }
    .botbox{
      position: absolute;
      height: 23.2vh;
      bottom: 2.76vh;
    }
  }
  .introduce{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #2f6bb4;
    .topimg{
      width: 100vw;
    }
    .textBox{
      clear: both;
      width: 100%;
      height: 100%;
      .lefttxt{
        float: left;
        width: 52vw;
        padding-top: 4.11vh;
        padding-left: 10.64vw;
        .textimg{
          width: 100%;
        }
        .item{
          .title{
            font-family: ZHSCNMT--GBK1-0;
            font-weight: normal;
            font-stretch: normal;
            color: #ffff00;
          }
          .lilTitle{
            font-family: Alibaba-PuHuiTi-R;
            font-weight: normal;
            color: #ffff00;
          }
          .con{
            text-align: justify;
            font-size: 12px;
            font-family: Alibaba-PuHuiTi-L;
            font-stretch: normal;
            color: #ffffff;
          }
        }
        .button2{
          width: 37.22vw;
          margin-top: 3.54vh;
        }
      }
      .rightline{
        float: right;
        height: 100%;
        padding-right: 8.6vw;
        img{
          display: inline-block;
          vertical-align: top;
          margin-top: 42.08vh;
        }
        .rltxt{
          width: 4.53vw;
        }
        div{
          display: inline-block;
          width: 0.74vw;
          height: 100%;
          margin-right: 0.55vw;
          margin-left: 1.11vw;
          background: #eb6298;
          margin-top: -2.76vh;
        }
        .rrtxt{
          width: 5.37vw;
          margin-top: 4.11vh;
        }
      }
    }
    .botbox{
      position: absolute;
      height: 14.0vh;
      bottom: 0;
    }
  }
  .citybox{
    background: #f1f2f4;
    .textBox{
      .lefttxt{
        .returny{
          width: 4.62vw;
          margin-bottom: 3.9vh;
        }
        .topimg4{
          width: 67.31vw;
        }
        .itembtnimg{
          margin-top: 4.68vh;
          img{
            width: 67.4vw;
            margin-bottom: 1.5vh;
          }
        }
      }
      .rightline{
        .rl4txt{
          margin-top: 65.37vh;
        }
        div{
          display: inline-block;
          width: 0.74vw;
          height: 100%;
          margin-right: 0.55vw;
          margin-left: 1.11vw;
          background: #2f6bb4;
          margin-top: -2.76vh;
        }
        .rr4txt{
          margin-top: 11.15vh;
        }
      }
    }
  }
}
