.homeBox{
  position: relative;
  height: 100vh;
  background: url(../../assets/bg.png) no-repeat;
  background-size: 100vw auto;
  .mainImg{
    margin-top: 9.94vh;
    margin-left: 11.85vw;
    img{
      height: 26.3vh;
    }
  }
  .rtxt{
    img{
      position: absolute;
      right: 8.51vw;
      bottom: 11.4vh;
      text-align: right;
      width: 3.7vw;
    }
  }
  .startBtn{
    position: absolute;
    right: 12.5vw;
    bottom: 4.58vh;
    text-align: right;
    img{
      width: 30.55vw;
    }
  }
}
