.detailBox{
  min-height: 100vh;
  padding-bottom: 1px;
  background: #f1f2f4;
  .topmainBox{
    position: relative;
    .topmain{
      width: 100vw;
      height: auto;
    }
    .returnw{
      position: absolute;
      top: 4.81vw;
      left: 2.59vw;
      width: 5.37vw;
    }
  }
  .mainBox{
    text-align: center;
    width: 88.7vw;
    margin: 3.79vw auto;
    padding-top: 3.24vw;
    padding-bottom: 4.9vw;
    background: white;
    border-radius: 1.01vw;
    ul{
      li{
        img{
          width: 83.24vw;
        }
        margin-bottom: 4.62vw;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    div{
      font-family: ZHSCNMT--GBK1-0;
      font-stretch: normal;
      font-size: 12px;
      font-weight: bold;
      text-align: right;
      line-height: 1em;
      letter-spacing: 0px;
      color: #2f6bb4;
      margin-top: 2.31vw;
      padding-right: 3.61vw;
      a{
        font-family: Alibaba-PuHuiTi-R;
        letter-spacing: 0px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1em;
        color: #2f6bb4;
        text-decoration:underline;
      }
    }
  }
}
