.detailBox{
  position: relative;
  min-height: 100vh;
  .detailtopBox{
    width: 100vw;
    min-height: 49.27vh;
  }
  .returnBtn{
    position: absolute;
    img{
      width: 4.62vw;
      margin-top: 3.28vh;
      margin-left: 5.83vw;
    }
  }
  .logoTitle{
    img{
      width: 100vw;
    }
  }
  .mainImg{
    text-align: right;
    margin-top: 2.65vh;
    img{
      height: 25.57vh;
    }
  }
  .opIcon{
    position: fixed;
    right: 3.51vw;
    bottom: 5.9vh;
    img{
      display: block;
      height: 3.33vh;
      margin-top: 1.56vh;
    }
  }
}
