.mainitemBox{
  margin: 0 11.85vw;
  margin-bottom: 10vh;
  .title{
    position: relative;
    margin-top: 4.79vh;
    padding-bottom: 0.52vh;
    border-bottom: 0.1vh solid #2b1104;
    .icon{
      height: 3.12vh;
      margin-right: 2.2vw;
    }
    .text{
      position: relative;
      font-family: "Source Han Sans CN";
      font-size: 14px;
      span{
        // position: absolute;
        display: inline-block;
        margin-left: 2px;
      }
    }
    .showMore{
      position: absolute;
      width: 4.62vw;
      right: 1.29vw;
    }
  }
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }
  .main{
    font-family: "Source Han Sans CN";
    .mainTitle{
      font-weight: bold;
      font-size: 14px;
      margin-top: 4.3vh;
      margin-bottom: 1.8vh;
    }
    .mainitem{
      margin-bottom: 1.8vh;
      div{
        float: left;
        font-size: 13px;
      }
      .maincon{
        line-height: 1.05rem;
        width: 56vw;
        text-align: justify;
      }
    }
    .phone{
      a{
        color: #3570e8;
        text-decoration: underline
      }
    }
  }
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{overflow:hidden;_zoom:1;}
