.menuBox{
  position: relative;
  min-height: 100vh;
  background: #eee;
  >div{
    position: relative;
    min-height: 100vh;
    background: url(../../assets/bg.png) no-repeat;
    background-size: 100vw auto;
    .mainImg{
      margin-top: 6.77vh;
      margin-left: 6.8vw;
      img{
        height: 22.91vh;
      }
    }
    .itemBox{
      text-align: center;
      margin-top: 4.42vh;
      img{
        width: 74.07vw;
        margin-bottom: 3.07vh;
        // box-shadow: 0px 10px 10px -10px #9C9C9C;
      }
    }
  }
}
