.zsdetailBox{
  min-height: 100vh;
  background: #f1f2f4;
  .return{
    width: 5.37vw;
    margin-left: 5.83vw;
    margin-top: 6.66vw;
  }
  .titleBox{
    text-align: center;
    width: 88.7vw;
    height: auto;
    margin: auto;
    margin-top: 6.57vw;
    background: white;
    border-radius: 1.01vw;
    padding-bottom: 2.31vw;
    img{
      width: 83.24vw;
      margin-top: 2.5vw;
      margin-bottom: 3.14vw;
    }
    div{
      text-align: justify;
      line-height: 1.45em;
      font-family: Alibaba-PuHuiTi-R;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #4c81c2;
      width: 75.37vw;
      margin: auto;
    }
  }
  .main{
    padding-bottom: 10vw;
    .contentBox{
      width: 88.7vw;
      margin: auto;
      margin-top: 3.7vw;
      padding-top: 3.98vw;
      padding-bottom: 5vw;
      background: white;
      border-radius: 1vw;
      >div{
        text-align: left;
        padding: 0 6.66vw;
        .content{
          // text-align: justify;
          font-family: Alibaba-PuHuiTi-R;
          font-size: 12px;
          font-stretch: normal;
          line-height: 1.5em;
          letter-spacing: 0px;
          color: #4c81c2;
          a{
            color: #4c81c2;
            text-decoration:underline;
          }
          .title{
            // text-align: justify;
            font-family: Alibaba-PuHuiTi-R;
            font-weight: bold;
            font-size: 12px;
            font-stretch: normal;
            line-height: 1.45em;
            letter-spacing: 0px;
            color: #4c81c2;
            padding-bottom: 3.14vw;
          }
          .connect{
            margin-bottom: 1vw;
          }
          .firstStle{
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 2.77vw;
            margin-bottom: 3.14vw;
            // text-align: justify;
            .title2{
              // text-align: justify;
              margin-bottom: 1vw;
            }
            .connect2{
              margin-bottom: 1vw;
            }
            .content2{
              img{
                width: 100%;
                margin: 2.2vw 0;
              }
            }
            &:last-child{
              padding-bottom: 0;
              margin-bottom: 0;
              border-bottom: none;
            }
          }
          .secBox{
            // text-align: justify;
            margin-bottom: 1.14vw;
            .title3{
              // margin: 1vw 0;
              // text-align: justify;
            }
            .connect3{
            }
            img{
              width: 100%;
              margin: 2.2vw 0;
            }
            .thiBox{
              .title4{
                // margin: 2vw 0;
              }
            }
          }
        }
      }
    }
  }
}
